* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #8ecae6 !important;
}

#content {
    background-color: tomato;
    max-width: 90%;
    margin-top: 10%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#projectsDiv, #currProjectDiv {
    background-color: #219ebc;
    display: block;
    text-align: center;
    justify-content: center;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
#taskDiv {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;

}
#projectList {
    background-color: whitesmoke;
    padding: 2%;
    border-radius: 10px;
}
.row {
    justify-content: space-around;
}

.projectDiv {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-weight: 900 !important;
}
/* #currProjectDiv {
    background-color: #023047;
} */

.tasktitle {
    font-weight: 800;
}

.projectTitle:hover {
    cursor: pointer;
}
.delete:hover, .edit:hover, .tasktitle:hover {
    cursor: pointer;
}

.low {
    color: royalblue;
}

.medium {
    color: tan;
}

.high {
    color: tomato;
}

i {
    padding: 2.5px;
}